<%= form_with(model: podcast, 
              url: podcast.new_record? ? admin_podcasts_path : admin_podcast_path, 
              local: true) do |form| %>
  <% if podcast.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(podcast.errors.count, "error") %> prohibited this podcast from being saved:</h2>

      <ul>
      <% podcast.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group row">
    <%= form.label :podcast, "Title", value: "title", class: "col-sm-2 col-form-label"%>
    <div class="col-sm-10">
      <%= form.text_field :title, id: :podcast_title, class: "form-control" %>
    </div>
  </div>

  <div class="form-group row">
    <%= form.label :podcast, "Query", value: "query", class: "col-sm-2 col-form-label"%>
    <div class="col-sm-10">
      <%= form.text_field :query, id: :podcast_query, class: "form-control" %>
    </div>
  </div>

  <div class="form-group row">
    <%= form.label :podcast, "Order By", value: "order_by", class: "col-sm-2 col-form-label"%>
    <div class="col-sm-10">
      <%= form.text_field :order_by, id: :podcast_order_by, class: "form-control" %>
    </div>
  </div>

  <div class="form-group row">
    <%= form.label :podcast, "Max count", value: "max_count", class: "col-sm-2 col-form-label"%>
    <div class="col-sm-10">
      <%= form.text_field :max_count, id: :podcast_max_count, class: "form-control" %>
    </div>
  </div>

  <div class="actions">
    <%= form.submit class: "btn-primary" %>
  </div>
<% end %>
