<div class="container mt-3">
  <% if notice %>
  <p class="alert alert-success" role="alert"><%= notice %></p>
  <% end %>

  <h1>Podcasts</h1>

  <table class="table">
    <thead>
    <tr class="d-flex">
      <th class="col-5">Title</th>
      <th class="col-5">Query</th>
      <th class="col-2"></th>
    </tr>
    </thead>

    <tbody>
    <% @podcasts.each do |podcast| %>
      <tr class="d-flex">
        <td class="col-4"><%= podcast.title %></td>
        <td class="col-5"><%= podcast.query %></td>
        <td class="col-3">
          <%= link_to 'Show', admin_podcast_path(podcast), class: 'btn btn-primary' %>
          <%= link_to 'Destroy', admin_podcast_path(podcast), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger'%>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'New Podcast', new_admin_podcast_path, class:'btn btn-primary' %>
</div>
